<div id="Section">
    <div class="navaccueil">
        <app-accueil-navbar></app-accueil-navbar>
    </div>

    <div class="row justify-content-start">

        <div class="col-md-6">
            <div class="row" id="nom">
                <div class="">
                    <img src="/assets/images/logo/Logo_FocuVax_V2.svg" id="image1">
                    <h3>Passez Votre <span class="gras"> CVR</span> et <br> faites <span>vacciner</span> vos
                        compétences. </h3>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <h4 class="gras">À PROPOS</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="maps">
                <h3><span class="gras">Rendez-nous visite</span></h3>
                <app-map></app-map>
            </div>
        </div>
    </div>
    <div class="row" id="footer">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col-md-2">
                    <h5> <a href="https://www.instagram.com/focus.corporation/?hl=fr" target="_blank"
                            class="instagram"><i class="fab fa-instagram"></i></a></h5>
                    <h6> Focus Corporation </h6>
                </div>
                <div class="col-md-2">
                    <h5> <a href="https://www.facebook.com/FocusCorporationIT" target="_blank" class="facebook"><i
                                class="fab fa-facebook-f"></i></a></h5>
                    <h6> Focus </h6>
                </div>
                <div class="col-md-2">
                    <h5> <a href="https://www.linkedin.com/company/focus-&-focus-international/" target="_blank"
                            class="linkedin"><i class="fab fa-linkedin-in"></i></a></h5>
                    <h6> Focus Corporation </h6>
                </div>
            </div>
        </div>
    </div>
</div>