<div id="Section">
    <div class="navaccueil">
        <app-accueil-navbar></app-accueil-navbar>
    </div>

    <div class="row justify-content-start">

        <div class="col-md-6">
            <div class="row" id="nom">
                <div class="">
                    <img src="/assets/images/logo/Logo_FocuVax_V2.svg" id="image1">
                    <h3>Passez Votre <span class="gras"> CVR</span> et <br> faites <span>vacciner</span> vos
                        compétences. </h3>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <h4 class="gras">Bonjour</h4>
                    <p>
                        En tant que stagiaire chez Focus, vous apprendrez à développer votre savoir-faire et savoir-être en travaillant dans un environnement IT dynamique et international. </p>

<p>Formé par nos experts dans des domaines variés tels que les solutions embarquées, les technologies SAP, les infrastructures informatiques..., vous aurez l'opportunité de booster vos compétences tant personnelles que professionnelles. </p>

<p>L'année dernière, plus de 35 étudiants ont terminé avec succès leur stage de fin d'études et ont commencé à travailler avec nous. <br>

Rejoignez-nous !
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="maps">
                <h3><span class="gras">Rendez-nous visite</span></h3>
                <app-map></app-map>
            </div>
        </div>
    </div>
    <div class="row" id="footer">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col-md-2">
                    <h5> <a href="https://www.instagram.com/focus.corporation/?hl=fr" target="_blank"
                            class="instagram"><i class="fab fa-instagram"></i></a></h5>
                    <h6> Focus Corporation </h6>
                </div>
                <div class="col-md-2">
                    <h5> <a href="https://www.facebook.com/FocusCorporationIT" target="_blank" class="facebook"><i
                                class="fab fa-facebook-f"></i></a></h5>
                    <h6> Focus </h6>
                </div>
                <div class="col-md-2">
                    <h5> <a href="https://www.linkedin.com/company/focus-&-focus-international/" target="_blank"
                            class="linkedin"><i class="fab fa-linkedin-in"></i></a></h5>
                    <h6> Focus Corporation </h6>
                </div>
            </div>
        </div>
    </div>
</div>